<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Document</title>
</head>
<body>
 <img src="<%= prasath %>" alt="">
 <a href="/">Back</a>
 <h1>Thank you Generate us!</h1>
 
</body>
</html>